{% extends 'base.html.twig' %}

{% block title %}Hello PublicationController!{% endblock %}

{% block body %}

    <h1>Liste de publications</h1>
    <ul>
        {% for publication in publications %}
            <li>{{ publication.title }}</li>
        {% endfor %}
    </ul>

    
{% endblock %}
